.login-screen-title img {
    min-width: 210px;
    height: auto;
    max-width: 250px;
    width: 100%;
    margin-top: 40px;
}


.md .stepper-small .stepper-button, .md .stepper-small .stepper-button-minus, .md .stepper-small .stepper-button-plus, .md .stepper-small .stepper-input-wrap, .md .stepper-small .stepper-value, .md .stepper-small-md .stepper-button, .md .stepper-small-md .stepper-button-minus, .md .stepper-small-md .stepper-button-plus, .md .stepper-small-md .stepper-input-wrap, .md .stepper-small-md .stepper-value {
    border-width: 1px;
}


.md .stepper-button, .md .stepper-button-minus, .md .stepper-button-plus {
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
    line-height: 34px;
    height: 36px;
    width: 40px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    overflow: hidden;
}


.md .stepper .stepper-input-wrap input, .md .stepper .stepper-value {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.md .stepper-input-wrap, .md .stepper-value {
    border-top: 2px solid #8a8a8a;
    border-bottom: 2px solid #8a8a8a;
}

.md .stepper-button-minus:after, .md .stepper-button-minus:before, .md .stepper-button-plus:after, .md .stepper-button-plus:before {
    background: #8a8a8a;
}


.profile .profile-image {
    float: left;
    width: 100%;
    margin: 0px 0px 10px;
    text-align: center;
}


.profile .profile-image img {
    width: 100px;
    border: 3px solid #FFF;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile .profile-data {
    width: 100%;
    float: none;
    text-align: center;
}


.hidden{
    display: none !important;
}


button.buy-button {
    width: 80px !important;
    float: right;
}

.mt-10{
    margin-top: 10px !important;
}
.centered {
    text-align: center !important;
}

/* A bit of demo styles */;
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
  }
  .demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;

  }
  .demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 120px;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
  }
  .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
  }



  .demo-swiper .swiper-slide > div {
  
    margin: 10% 40% 0 40%;
}

  .grade-grey{
    background: linear-gradient(to right, rgb(189, 195, 199), rgb(44, 62, 80));
  }

  .j-shine {
    background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
  }
  .summer-dog {
    background: linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214));

  }